{% extends "base.html" %}
{%load static %}

{% block title %}
    Dashboard
{% endblock title %}



{% block content %}

  <!-- page content -->
   <!-- page content -->
   <div class="right_col" role="main">
    <div class="">
      

      <div class="clearfix"></div>

      <div class="row">
        <p>  {{name}} </p> <br>
      </div>
      <div>
        <p>{{names}}</p>
      </div>
      <div>
        {% for n in names %}
        <p>{{n}}</p>
        {% endfor %}
      </div>
      <div>
        <h2></h2>
        
            
            {% for msg in msg_list %}
            <p> <strong>{{msg}}: </strong> Days left - {{msg.days_till_renewal}}</p>
            {% endfor %}
     
      </div>
      <div class="clearfix"></div>
      <br />
    </div>
  </div>
  <!-- /page content -->


  <!-- /page content -->
{% endblock content %}






