{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load contracts_extras %}

{% block title %}
| ICT Contracts
{% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main"> 
<div class=""> 

<div class="page-title " style="padding-bottom:1px;">
    
	<div class="title_left">
        <h3 >ICT Contracts &nbsp;&nbsp;&nbsp; <span class="badge badge-info"> Total:&nbsp;&nbsp; {{total_contracts}}</span> </h3>
		
	</div>  
	<div class="title_right">
		<div class="col-md-5 col-sm-5   form-group pull-right top_search">
		
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light">   
					<li class="breadcrumb-item"><a href="{% url 'ict_profiles:profile-list' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Contracts Admin</li>
				</ol>
			</nav>
		</div>
	</div>  
</div>

	<div class="title_right">
		<div class="col-md-3 col-sm-6 col-xs-12 form-group pull-right top_search">
		<div class="input-group">
			<span class="input-group-btn">
				
			</span>
		</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row">
		 
		<div class="x_panel" style="padding-top:2px; padding-bottom:3px">
		<div class="col-md-12 sm-12 text-center">
			<h4 class="text-info " style="margin-top: 0">Search and Filters</h4>
		<div class="jumbotron" style="padding-top:2px; padding-bottom:2px">

			<form class="form-label-left input_mask">

				<form class="form-label-left input_mask" method="GET">

					<div class="col-md-3 col-sm-6  form-group has-feedback">
			
						{{form.name|as_crispy_field}}
			
					</div>  
	
					<div class="col-md-3 col-sm-6  form-group has-feedback">
						{{form.supplier|as_crispy_field}}
					</div>
	
					<div class="col-md-2 col-sm-6  form-group has-feedback">
						{{form.owner|as_crispy_field}}
					</div>
					<div class="col-md-2 col-sm-6  form-group has-feedback">
						{{form.status|as_crispy_field}}
					</div>

					<div class="ln_solid"></div>
					<div class="form-group pull-right top_search">
						<div class="col-md-2 col-sm-6  offset-md-1">
						
						<span class="input-group-btn">
							<button type="submit" class="btn btn-secondary text-white">Search/Filter...</button>
						</span>
							
						</div>
					</div>

				</form>
			</div>
		</div>
			<a href="{% url 'ict_contracts:contract-add' %}" class="btn btn-dark bg-dark btn-sm" style="padding-bottom:3px">
				ADD CONTRACT &nbsp;
				<i class="fa fa-plus"></i>
			</a>						
		</div>
	</div> 
	
		</div>
		
        <div class="card-box table-responsive"> 
			
                <table class="table table-striped projects table-bordered">
                    <thead>
                        <tr>
                            <th >#</th>
                            <th style="width: 20%">Name</th>           
                            <th style="width: 15%" > Supplier </th>
                        
                            <th style="width: 15%">Responsible Manager  </th>        
                            
                            <th style="width: 8%"> Status </th>   
                            <th style="width: 15%">Time to Expiry</th>
                            <th  style="width: 15%" >More</th>                  
                        </tr>
                    </thead>
                    <tbody>
                    {% for contract in contracts %}
                    <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td style="width:20%">
                                {{ contract.name}} 
                            </td>
                            <td style="width: 15%">
                                {{contract.supplier}}
                            </td> 
                            
                            <td style="width: 15%">
                                {{contract.owner}} ({{contract.created_by}})
                            </td>  										    
							
                            <td class="vertical-align-mid">
                                
                                    {% if contract.status == 'Ok' %}
                                    <i class="fa fa-circle  text-success"  style="font-size:x-large" ></i>
                                    {% elif  contract.status == 'Attention' %}
                                    <i class="fa fa-circle text-primary" style="font-size:x-large" ></i>
                                    {% elif contract.status == 'Warning'%}
                                    <i class="fa fa-circle text-warning" style="font-size:x-large" ></i>
									{% elif contract.status == 'Perpertual'%}
                                    <i class="fa fa-circle text-secondary" style="font-size:x-large" ></i>
                                    {% else %}
                                    <i class="fa fa-circle text-danger" style="font-size:x-large"></strong></i>
                                    {% endif %}
							
                            </td>
                            <td style="width: 15%">
                                {% if contract.days_until_end > 0 %}
                                {{contract.end_date|timeuntil}} 
								{% elif contract.days_until_end == -9999 %}
								No expiry date 
                                {% else %}
                                <strong class="text-danger">Expired {{contract.end_date|timesince}} ago  </strong>   
                                {% endif %}
                            </td>
                            <td style="width: 15%">
                                <a href="{% url 'ict_contracts:contract-detail' contract.id %}" >
                                    <span class="glyphicon glyphicon-info-sign text-info mr-2"></span>View Details
                                </a>
                            </td>
                            {% empty %} 
                            <th colspan="8" class="text-center">No contracts recorded yet!</th colspan="8">
                        </tr> 
    
                {% endfor %}
                    </tbody>
                </table>
			<!-- end project list -->
            <!-- Pagination Section -->
				<div class="row">
					<div class="col-md-12" justify-content-right>
						{% if page_obj.has_other_pages %}
						<ul class="pagination nav navbar-right mx-right" >
							{% if page_obj.has_previous %}
							<li class="page-item">
								<a href="{% contracts_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page-link">Previous</a>
							</li>
						
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Previous</a>
							</li>
							{% endif %}
							{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active">
								<a class="page-link">{{i}}</a>
								</li>
							{% else %}
								<li class="page-item">
								<a href="{% contracts_url i 'page' request.GET.urlencode %} " class="page-link">{{i}}</a>
								</li>
							{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
							<li class="page-item">
								<a href="{% contracts_url page_obj.next_page_number 'page'  request.GET.urlencode %}" class="page-link">Next</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Next</a>
							</li>
							{% endif %}
						</ul>
						{% endif %}
					</div>
				</div>
				<!--End pagination -->

		</div>
		<br>
		<hr>
		<br>
		<div class="jumbotron" style="padding-top:2px; padding-bottom:2px">
			<h2>Legend: Contract Status</h2>
	
		<ul class="list-inline prod_color display-layout">
			<li>
			<p>Ok</p>
			<div class="color bg-green"></div>
			</li>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<li>
			<p>Attention</p>
			<div class="color bg-blue"></div>
			</li>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<li>
			<p>Warning</p>
			<div class="color bg-orange"></div>
			</li>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<li>
			<p>Expired</p>
			<div class="color bg-red"></div>
			</li>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<li>
			<p>Perpertual</p>
			<div class="color bg-secondary"></div>
			</li>

		</ul>
		</div>
		
	</div>
</div>


	<br>
	
		
		
		  <br />
		
</div>
	</div>
</div>
</div>
<!-- /page content -->

{% endblock content %}
