{% extends "base.html" %}
{% load static %}
{% load bootstrap %}
{% load crispy_forms_tags %}
{% load contracts_extras %}


{% block title %}
| ICT Contracts
{% endblock title %}

{% block content %}



<!-- page content -->
<div class="right_col" role="main">
<div class="">
<div class="page-title">
	<div class="title_left">
		<h3>ICT Contracts &nbsp;&nbsp;&nbsp; <span class="badge badge-info">Total:&nbsp;&nbsp; {{total_contracts}}</span> </h3>	
	</div>
	<div class="title_right">
		<div class="col-md-5 col-sm-12  form-group pull-right top_search">
		
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light">
					<li class="breadcrumb-item"><a href="{% url 'ict_dash:dashboard' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">All Contracts</li>
				</ol>
			</nav>
		</div>
	</div>  
</div>
	
	<!-- <div class="clearfix"></div> -->

	<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
		
		<div class="x_content"> 
			<div class="row">
		
				<div class="x_panel " style="padding-top:2px; padding-bottom:3px">
					<div class="col-md-12 sm-12 text-center">	
					<h4 class="text-info " style="margin-top: 0">Search and Filters</h4>
					<div class="jumbotron" style="padding-top:2px; padding-bottom:2px">
						<form class="form-label-left input_mask" method="GET">

							<div class="col-md-3 col-sm-6  form-group has-feedback">
					
								{{form.name|as_crispy_field}}
					
							</div>  
			
							<div class="col-md-3 col-sm-6  form-group has-feedback">
								{{form.supplier|as_crispy_field}}
							</div>
			
							<div class="col-md-2 col-sm-6  form-group has-feedback">
								{{form.owner|as_crispy_field}}
							</div>
							<div class="col-md-2 col-sm-6  form-group has-feedback">
								{{form.status|as_crispy_field}}
							</div>
		
							<div class="ln_solid"></div>
							<div class="form-group pull-right top_search">
								<div class="col-md-2 col-sm-6  offset-md-1">
								
								<span class="input-group-btn">
									
									<button type="submit" class="btn btn-secondary text-white">Search/Filter...</button>
								</span>
									
								</div>
							</div>

						</form>

					</div>
				</div>
						
				</div>
			</div>

        <div class="card-box table-responsive"> 
    
				<!-- start project list -->
                <table class="table table-striped projects table-bordered">
                    <thead>
                        <tr>
                            <th >#</th>
                            <th style="width: 20%">Name</th>           
                            <th style="width: 10%" > Supplier </th>
                        
                            <th style="width: 10%"> Manager  </th>        
                            
                            <th style="width: 15%"> Status </th>  
							<th>End Date</th> 
                            <th style="width: 15%">Time to Expiry</th>
                            <th  style="width: 15%" >More</th>                  
                        </tr>
                    </thead>
                    <tbody>
                    {% for contract in contracts %}
                    <tr>
                            <td>
                                {{forloop.counter}}
                            </td>
                            <td style="width:20%">
                                {{ contract.name}} 
                            </td>
                            <td style="width: 10%">
                                {{contract.supplier}}
                            </td> 
                            
                            <td style="width: 10%">
                                {{contract.owner}} 
                            </td>  										    
							
                            <td class="vertical-align-mid">
                                <div class="progress">
                                    {% if contract.status == 'Ok' %}
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="100"><strong>{{contract.status}}</strong></div>
                                    {% elif  contract.status == 'Attention' %}
                                    <div class="progress-bar progress-bar-info" data-transitiongoal="100"><strong>{{contract.status}} </strong></div>
                                    {% elif contract.status == 'Warning'%}
                                    <div class="progress-bar progress-bar-warning" data-transitiongoal="100"><strong>{{contract.status}}</strong></div>
									{% elif contract.status == 'Perpertual'%}
                                    <div class="progress-bar progress-bar bg-secondary" data-transitiongoal="100"><strong>{{contract.status}}</strong></div>
                                    {% else %}
                                    <div class="progress-bar progress-bar-danger" data-transitiongoal="100"><strong>{{contract.status}} </strong></div>
                                    {% endif %}
                                </div>
                            </td>
							<td>{{contract.end_date}}</td>
                            <td style="width: 15%">
                                {% if contract.days_until_end > 0 %}
                                {{contract.end_date|timeuntil}} 
								{% elif contract.days_until_end == -9999 %}
								No expiry date 
                                {% else %}
                                <strong class="text-danger">Expired {{contract.end_date|timesince}} ago  </strong>   
                                {% endif %}
                            </td>
                            <td style="width: 15%">
                                <a href="{% url 'ict_contracts:contract-detail' contract.id %}" >
                                    <span class="glyphicon glyphicon-info-sign text-info mr-2"></span>View Details
                                </a>
                            </td>
                            {% empty %} 
                            <th colspan="8" class="text-center">No contracts recorded yet!</th colspan="8">
                        </tr> 
    
                {% endfor %}
                    </tbody>
                </table>
			<!-- end project list -->
            <!-- Pagination Section -->
				<div class="row">
					<div class="col-md-12" justify-content-right>
						{% if page_obj.has_other_pages %}
						<ul class="pagination nav navbar-right mx-right" >
							{% if page_obj.has_previous %}
							<li class="page-item">
								<a href="{% contracts_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page-link">Previous</a>
							</li>
						
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Previous</a>
							</li>
							{% endif %}
							{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active">
								<a class="page-link">{{i}}</a>
								</li>
							{% else %}
								<li class="page-item">
								<a href="{% contracts_url i 'page' request.GET.urlencode %} " class="page-link">{{i}}</a>
								</li>
							{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
							<li class="page-item">
								<a href="{% contracts_url page_obj.next_page_number 'page'  request.GET.urlencode %}" class="page-link">Next</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Next</a>
							</li>
							{% endif %}
						</ul>
						{% endif %}
					</div>
				</div>
				<!--End pagination -->

		</div>
		</div>
	</div>
	</div>
</div>
</div>
<!-- /page content -->

{% endblock content %}
