{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load licenses_extras %}

{% block title %}
| ICT Licenses
{% endblock title %}

{% block content %}  

<!-- page content -->
<div class="right_col" role="main"> 
	<div class="">
		<div class="page-title">
			
			<div class="title_left">
				<h3>Software Licenses&nbsp;&nbsp;&nbsp; <span class="badge badge-info"> Total: &nbsp;&nbsp; {{total_licenses}} </span></h3>	
			</div>
			<div class="title_right">
				<div class="col-md-5 col-sm-5   form-group pull-right top_search">
				
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb bg-light">
							<li class="breadcrumb-item"><a href="{% url 'ict_dash:dashboard' %}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">ICT Licenses Admin</li>
						</ol>
					</nav>
				</div>
			</div>  
		</div>
		
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12">
				<div class="x_panel">
				
				<div class="x_content">
					<div class="row">  
				
					<div class="x_panel " style="padding-top:2px; padding-bottom:2px">
						<div class="col-md-12 sm-12 text-center">	
							<h4 class="text-info " style="margin-top: 0">Search and Filters</h4>					
							<div class="jumbotron" style="padding-top:2px; padding-bottom:2px">						
								<form class="form-label-left input_mask" metho="GET">
									<div class="col-md-3 col-sm-6  form-group has-feedback">								
										{{form.name|as_crispy_field}}							
									</div>
									<div class="col-md-2 col-sm-6  form-group has-feedback">
										{{form.owner|as_crispy_field}}
									</div>
									<div class="col-md-3 col-sm-6  form-group has-feedback">
										{{form.software_category|as_crispy_field}}
									</div>
									<div class="col-md-2 col-sm-6  form-group has-feedback">
										{{form.status|as_crispy_field}}
									</div>		
									<div class="ln_solid"></div>
									<div class="form-group pull-right top_search">
										<div class="col-md-2 col-sm-6  offset-md-1">									
										<span class="input-group-btn">
											<button type="submit" class="btn btn-info text-white">Search/Filter...</button>
										</span>											
										</div>
									</div>
								</form>
							</div>
						</div>							
						</div>						
				<div class="card-box table-responsive"> 
						<!-- start project list -->
						<table class="table projects table-bordered">
							<thead>
								<tr>
									<th style="width:2%">No. #</th>					
									<th style="width:15%" > License Name</th>
									<th style="width:20%" >Contract</th>
									
									<th style="width:25%">Renewal Status</th>
									<!-- <th style="width:15%"> Renewal Due</th> -->
									<th style="width: 8%">Start Date</th>
									<th style="width: 8%">Renewal Due </th>
									<th  style="width: 15%" class="text-center">More Info</th>
								</tr>
								{% for license in licenses %}
								<tr>
									<td>{{forloop.counter}} </td>					
									<td> <a href="{% url 'ict_licenses:license-detail' license.id %}"  >{{license.name}} </a></td>
									<td>{{license.contract}}</td>								
									<td class="vertical-align-mid" style="width:25%" >
									<div class="progress"> 
										{% if license.days_till_renewal > 180 %}
											<div class="progress-bar progress-bar-success" data-transitiongoal="100">      
										<strong>Ok! &nbsp;&nbsp;&nbsp;&nbsp;Renewal due in {{license.next_renewal_date|timeuntil}}</strong>										
											</div>
										{% elif license.days_till_renewal < 180  and license.days_till_renewal > 90 %}
											<div class="progress-bar progress-bar-primary" data-transitiongoal="100">
												<strong>Attention! &nbsp;&nbsp;&nbsp;&nbsp;Renewal due in {{license.next_renewal_date|timeuntil}} 
											</div>
										{% elif license.days_till_renewal < 90 and license.days_till_renewal >= 0 %}
											<div class="progress-bar progress-bar-warning" data-transitiongoal="100">
												<strong>Last Warning! &nbsp;&nbsp;&nbsp;&nbsp; Renewal due in {{license.next_renewal_date|timeuntil}} </strong> 
											</div>
										{% else %}
											<div class="progress-bar progress-bar-danger" data-transitiongoal="100">
												<strong>Overdue! &nbsp;&nbsp;&nbsp;&nbsp; Renewal overdue by {{license.next_renewal_date|timesince}} </strong> 				
											</div>
										{% endif %}
									</div>    							
									</td>									
									<td>{{license.start_date}}</td>
									<td>{{license.next_renewal_date}}</td>
									<td style="width:15%">
										<a href="{% url 'ict_licenses:license-detail' license.id %}">
											<span class="glyphicon glyphicon-info-sign text-info"></span> Details
										</a>
									</td>        
								</tr>
									{% empty %} 
								<tr>
									<th colspan="8" class="text-center">No licenses recorded yet!</th colspan="8">
								</tr> 			
						{% endfor %}
							</tbody>
						</table>
						<div class="row">
							<div class="col-md-12" justify-content-right>
								{% if page_obj.has_other_pages %}
								<ul class="pagination nav navbar-right mx-right" >
									{% if page_obj.has_previous %}
									<li class="page-item">
										<a href="{% licenses_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page-link">Previous</a>
									</li>							
									{% else %}
									<li class="page-item disabled">
										<a class="page-link">Previous</a>
									</li>
									{% endif %}
									{% for i in page_obj.paginator.page_range %}
									{% if page_obj.number == i %}
										<li class="page-item active">
										<a class="page-link">{{i}}</a>
										</li>
									{% else %}
										<li class="page-item">
										<a href="{% licenses_url i 'page' request.GET.urlencode %}" class="page-link">{{i}}</a>
										</li>
									{% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									<li class="page-item">
										<a href="{% licenses_url page_obj.next_page_number 'page'  request.GET.urlencode %}}" class="page-link">Next</a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<a class="page-link">Next</a>
									</li>
									{% endif %}
								</ul>
								{% endif %}
							</div>
						</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
</div>
<!-- /page content -->

{% endblock content %}
