{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load project_extras %}



{% block title %}
| ICT Contracts  
{% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
<div class="page-title">
    
	<div class="title_left">
        <h3>Total ICT Projects:&nbsp;&nbsp;&nbsp;{{total_projects}} </small></h3>	
	</div>
	<div class="title_right">
		<div class="col-md-5 col-sm-5   form-group pull-right top_search">
		
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light">
					<li class="breadcrumb-item"><a href="{% url 'ict_dash:dashboard' %}">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">ICT Projects </li>
				</ol>
			</nav>
		</div>
	</div>  
</div>
	<div class="title_right">
		<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
		<div class="input-group">
			<span class="input-group-btn">
				<!-- <form action="" method="GET">
					<input type="text" name="mobile_phone" value="{{request.GET.mobile_phone}}" 
					class="form-control" placeholder="Search...">
					<button type="submit" class="btn btn-primary text-white" >Go!</button>
				</form> -->
			</span>
		</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
			
			<div class="jumbotron" style="padding-top:2px; padding-bottom:2px">
				<form class="form-label-left input_mask" method="GET">

					<div class="col-md-3 col-sm-6  form-group has-feedback">
						
						{{form.name|as_crispy_field}}
			
					</div>

					<div class="col-md-3 col-sm-6  form-group has-feedback">
						{{form.description|as_crispy_field}}
					</div>

					<div class="col-md-2 col-sm-6  form-group has-feedback">
						{{form.service_provider|as_crispy_field}}
					</div>
					<div class="col-md-2 col-sm-6  form-group has-feedback">
						{{form.status|as_crispy_field}}
					</div>
					
					

					<div class="ln_solid"></div>
					<div class="form-group pull-right top_search">
						<div class="col-md-2 col-sm-6  offset-md-1">
						
						<span class="input-group-btn">
							<button type="submit" class="btn btn-secondary text-white">Search/Filter...</button>
						</span>
							
						</div>
					</div>

				</form>

			</div>
				

			</div>

			<div class="card-box table-responsive"> 
				<!-- start project list -->
                <table class="table table-striped projects table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 1%"> #</th>
                            <th style="width: 15%">Project Name</th>           
                            <th style="width: 10%" > Start Date </th>
                            <th style="width: 10%">End Date </th>
							<th style="width: 15%">Project Team</th>
				
                            <!-- <th style="width: 20%" >Progress</th>  -->
                            <th style="width: 10%"> Status </th> 
                            <th style="width: 10%">More Info</th>                  
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                    <tr>
                            <td >
                                {{forloop.counter}}
                            </td>
                            <td >
                                {{ project.name}}
                            </td>
                            <td >
                                {{project.start_date|date:'d F Y'}}
                            </td>
                            <td >
                                {{project.end_date|date:'d F Y'}}
                            </td>
							<td >
								<ul class="list-inline">
									{% for member in project.team.all  %}

									<li>
										<img class="avatar" alt="Photo" data-toggle="tooltip" title="{{member.name}}"  
										src="{{member.name.photo.url}}" >
									</li>
									{% endfor %}
								</ul>					
							</td>
							
							<!-- <td class="project_progress">									
								<div class="progress progress_lg">
									<div class="progress-bar progress-bar-striped bg-info" role="progressbar" data-transitiongoal="{{project.total_progress}}">
										<span class="text-center text-strong"> {{project.total_progress}}% complete</span>
									</div>
								</div>									
							</td> -->
                            <td class="project_progress">
                                <div class="progress progress_lg ">
                                    {% if project.status == 'Completed' %}
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="100">{{project.status}}</div>
                                    {% elif  project.status == 'Not Started' %}
                                    <div class="progress-bar progress-bar-secondary" data-transitiongoal="100">{{project.status}} </div>
                                    {% elif project.status == 'On Track'%}
                                    <div class="progress-bar progress-bar-striped bg-primary" data-transitiongoal="100">{{project.status}}</div>
                                    {% elif project.status == 'Delayed'%}
                                    <div class="progress-bar progress-bar-warning" data-transitiongoal="100">{{project.status}}</div>
                                    {% else %}
                                    <div class="progress-bar progress-bar-danger" data-transitiongoal="100">{{project.status}} </div>
                                    {% endif %}
                                </div>
                            </td>
                            
                            <td >
                                <a href="{% url 'ict_projects:project-detail' project.pk %}" >
                                    <span class="glyphicon glyphicon-info-sign text-info"></span> Project Details
                                </a>
                            </td>                          
                            {% empty %} 
                            <th colspan="8" class="text-center">No projects recorded yet!</th colspan="8">
                        </tr> 
                {% endfor %}
                    </tbody>
                </table>
			<!-- end project list -->
        <!-- Pagination Section -->
		<div class="row">
			<div class="col-md-12" justify-content-right>
				{% if page_obj.has_other_pages %}
				<ul class="pagination nav navbar-right mx-right" >
					{% if page_obj.has_previous %}
					<li class="page-item">
						<a href="{% projects_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="page-link">Previous</a>
					</li>
				
					{% else %}
					<li class="page-item disabled">
						<a class="page-link">Previous</a>
					</li>
					{% endif %}
					{% for i in page_obj.paginator.page_range %}
					{% if page_obj.number == i %}
						<li class="page-item active">
						<a class="page-link">{{i}}</a>
						</li>
					{% else %}
						<li class="page-item">
						<a href="{% projects_url i 'page' request.GET.urlencode %}" class="page-link">{{i}}</a>
						</li>
					{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
					<li class="page-item">
						<a href="{% projects_url page_obj.next_page_number 'page'  request.GET.urlencode %}}" class="page-link">Next</a>
					</li>
					{% else %}
					<li class="page-item disabled">
						<a class="page-link">Next</a>
					</li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
		</div>
		<!--End pagination -->

		</div>


		
	</div>
	</div>
</div>
</div>
<!-- /page content -->
{% endblock content %}
