{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="x_panel mx-auto text-center">
                                <h1 >Reset Password Email Form</h1>
                                <h2>ICT Contracts & Portfolio</h2>
                                <div class="clearfix"></div>
                            </div>
                                <section class="section-content padding-y" style="min-height:84vh">
                                    <!-- ============================ COMPONENT CHANGE PASSWORD =========================   ================================= -->
                                        <div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
                                            <div class="card-body">
                                            
                                            {% include 'partials/_alerts.html' %}
                                            <form action="{% url 'ict_accounts:forgot-password' %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="email" class="form-control" placeholder="Email Address" name="email">
                                                </div> <!-- form-group// -->

                                                <div class="form-group">
                                                    <a href="{% url 'ict_accounts:login' %}" class="float-right">Got password? Login</a>

                                                </div> <!-- form-group form-check .// -->
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                                                </div> <!-- form-group// -->
                                            </form>
                                            </div> <!-- card-body.// -->
                                        </div> <!-- card .// -->

                                        <p class="text-center mt-4">Don't have account? <a href="{% url 'ict_accounts:register' %}">Sign up</a></p>
                                        <br><br>
                                </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}