{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block title %} | Register {% endblock title %}


{% block content %}
<!-- page content -->

<div class="container body"> 
    <div class="main_container">

        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_right">
                        
                    </div>

                    <div class="title_right">
                        <h1 class="text-center mx-auto login-content">Change Password Form</h1>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                    <br>
                    <br>
                    <div class="row jumbotron">
                        <div class="col-md-6 col-sm-12 mx-auto">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                            
                                {% include 'partials/_alerts.html' %}
                                    
                                    {{form|crispy}}
                                    <div class="ln_solid"></div>
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                            <button class="btn btn-primary" type="button">
                                            <a href="{% url 'ict_profiles:my-profile'  request.user.profile.id %}"> <span class="text-white">Cancel </span> </a>
                                            </button>
                                            <button class="btn btn-secondary" type="reset">Reset</button>
                                            <button type="submit" class="btn btn-success">Submit</button>
                                            
                                        </div>
                                        
                                    </div>
                            
                                    <br>
                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock content %}









