{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3> ICT Portfolio Dashboard  </h3>
        </div>
    
    </div>

    <div class="clearfix"></div>
    {% include 'partials/_alerts.html' %}
    <div class="row">
        <div class="col-md-12">
        <div class="x_panel">
            
            <div class="x_content">

            <div class="row">
                


                <div class="col-md-3">
               
                <div class="thumbnail">
                    
                    <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% static 'images/contracts.png' %}" alt="image" />
                    <div class="mask no-caption">
                        <div class="tools tools-bottom">
                        
                            <a href="{% url 'ict_contracts:contract-list' %}"><i class="fa fa-eye text-warning">&nbsp;View Contracts</i>  </a>
                        </div>
                    </div>
                    </div>
                    <a href="{% url 'ict_contracts:contract-list' %} ">
                        <div class="caption">

                        <div style="color:darkred;font-size:xx-large;font-weight:bolder">{{num_contracts}}
                        </div>
                        <p class="text-primary"><strong>ICT Contracts</strong>  </p>
                        </div>
                    </a>
                    
                    </div>
                
               
                </div>
                <div class="col-md-3">
                <div class="thumbnail">
                    <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% static 'images/licenses.png' %}" alt="image" />
                    <div class="mask no-caption">
                        <div class="tools tools-bottom">
                            <a href="{% url 'ict_licenses:license-list' %}"><i class="fa fa-eye text-warning">&nbsp; View Licenses</i>  </a>
                        </div>
                    </div>
                    </div>
                <a href="{% url 'ict_licenses:license-list' %}">
                    <div class="caption">
                        <div style="color:darkred;font-size:xx-large;font-weight:bolder">{{num_licenses}} 
                        </div>
                        <p class="text-primary "> <strong>Software Licenses</strong> </p>
                        </div>
                </a>
                    
                </div>
                </div>
                <div class="col-md-3">
                <div class="thumbnail">
                    <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% static 'images/projects.png' %}" alt="image" />
                    <div class="mask no-caption">
                        <div class="tools tools-bottom">
                            <a href="{% url 'ict_projects:project-list' %}"><i class="fa fa-eye text-warning">&nbsp;View Projects</i>  </a>
                        </div>
                    </div>
                    </div>
                <a href="{% url 'ict_projects:project-list' %}">
                    <div class="caption">
                        <div style="color:darkred;font-size:xx-large;font-weight:bolder">{{num_projects}} 
                        </div>
                        <p class="text-primary"><strong>ICT Projects</strong> </p>
                        </div>
                </a>
                
                </div>
                </div>
                <div class="col-md-3">
                <div class="thumbnail">
                    <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% static 'images/vendors.png' %}" alt="image" />
                    <div class="mask no-caption">
                        <div class="tools tools-bottom">
                            <a href="{% url 'ict_vendors:vendor-list' %}"><i class="fa fa-eye text-warning">&nbsp;View Vendors</i>  </a>
                        </div>
                    </div>
                    </div>
                <a href="{% url 'ict_vendors:vendor-list' %}">
                    <div class="caption">
                        <div style="color:darkred;font-size:xx-large;font-weight:bolder">{{num_vendors}} 
                        </div>
                        <p class="text-primary"><strong>ICT Vendors</strong> </p>
                        </div>
                </a>
                </div>
                </div>
                <!-- <div class="col-md-3">
                <div class="thumbnail">
                    <div class="image view view-first">
                    <img style="width: 100%; display: block;" src="{% static 'images/media.jpg' %}" alt="image" />
                    <div class="mask no-caption">
                        <div class="tools tools-bottom">
                            <a href="{% url 'ict_profiles:profile-list' %}"><i class="fa fa-eye text-warning">&nbsp;View User Profiles</i>  </a>
                        </div>
                    </div>
                    </div>
                <a href="{% url 'ict_profiles:profile-list' %}">
                    <div class="caption">
                        <p><strong style="color:darkred">{{num_users}}</strong>
                        </p>
                        <p><strong class="text-primary">Users</strong></p>
                    </div>
                </a>
                    
                </div>
                </div> -->
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<!-- /page content -->


{% endblock content %}