{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}  


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<!-- <style>
    .verticalLine {
        height: 300px;
        border-right: 1px solid #000900;
        position: absolute;
        right: 50%;
    }
</style> -->

{% block content %}
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3> ICT Portfolio Dashboard  </h3>
        </div>    
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
        <div class="x_panel">          
            <div class="x_content">
                {% include 'partials/_alerts.html' %}
            <div class="row">

                <div class="col-md-3" >                  
                    <a href="{% url 'ict_contracts:contract-list' %} ">
                        <div class="caption">

                        <div style="color:rgb(59, 47, 47);font-size:xx-large;font-weight:bolder">{{num_contracts}}
                        </div>
                        <p class="text-primary"><strong>ICT Contracts</strong>  </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">              
                <a href="{% url 'ict_licenses:license-list' %}">
                    <div class="caption">
                        <div style="color:rgb(59, 47, 47);font-size:xx-large;font-weight:bolder">{{num_licenses}} 
                        </div>
                        <p class="text-primary "> <strong>Software Licenses</strong> </p>
                        </div>
                </a>             
                </div>
                <div class="col-md-3">       
                <a href="{% url 'ict_projects:project-list' %}">
                    <div class="caption">
                        <div style="color:rgb(59, 47, 47);font-size:xx-large;font-weight:bolder">{{num_projects}} 
                        </div>
                        <p class="text-primary"><strong>ICT Projects</strong> </p>
                        </div>
                </a>
               </div>
                <div class="col-md-3">
             
                <a href="{% url 'ict_vendors:vendor-list' %}">
                    <div class="caption">
                        <div style="color:rgb(59, 47, 47);font-size:xx-large;font-weight:bolder">{{num_vendors}} 
                        </div>
                        <p class="text-primary"><strong>ICT Vendors</strong> </p>
                        </div>
                </a>               
                </div>     
            </div>
            </div>
            <!--Start top leyer graphs-->
            <div class="x_panel">

                <div class="x_content">
            <div class="row ">
               <div class="col-md-6 sm-12">
                {% if num_contracts == 0 %}
                    <h2> Data not available! Graph will show once data has been captured. </h2>       
                {% else %}
                    {{div|safe}}
                {% endif %}
               </div>
               <div class="col-md-6 sm-12"> 
                {% if num_licenses == 0 %}
                    <h2> Data not available! Graph will show once data has been captured. </h2>       
                {% else %}            
                    {{div2|safe}}
                {% endif %}
               </div>  
            </div>

            <div class="row p-5">
                <div class="col-md-6 sm-12">
                    {% if num_contracts == 0 %}
                        <h2> Data not available! Graph will show once data has been captured. </h2>       
                    {% else %}
                    {{div3|safe}}
                    {% endif %}
                </div>

                <div class="col-md-6 sm-12">
                    {% if num_projects == 0 %}
                        <h2> Data not available! Graph will show once data has been captured. </h2>       
                    {% else %}
                        {{div4|safe}}
                    {% endif %}
                </div>   
             </div>             
                </div>
            </div>      
        </div>
        </div>
    </div>
    </div>
</div>
<!-- /page content -->

{% endblock content %}