{% extends "base.html" %}
{%load static %}

{% block title %}
    Dashboard
{% endblock title %}



{% block content %}

  <!-- page content -->
   <!-- page content -->
   <div class="right_col" role="main">
    <div class="">
      
        <div class="col-md-6 col-sm-6  ">
          <div class="x_panel">
            <div class="x_title">
              <h2>Radar Chart <small>Sessions</small></h2>
              
              <canvas id="myChart" width="400" length="400"> </canvas>

             
            </div>
            <div class="x_content">
              <canvas id="canvasRadar"></canvas>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6  ">
          <div class="x_panel">
            <div class="x_title">
              <h2>Radar Chart <small>Sessions</small></h2>
              
              <table></table>

              
            </div>
            <div class="x_content">
              <canvas id="canvasRadar"></canvas>
            </div>
          </div>
        </div>

        
          
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <br />
    </div>
  </div>
  <!-- /page content -->


<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
        labels: [{% for item in contract_name_list %}'{{item}}',{% endfor %}],
        datasets: [{
            label: 'Total Contract Rand Value',
            data: [{% for value in contract_value_list %}'{{value}}',{% endfor %}],
            borderWidth: 1
        }]
        },
        options: {
        indexAxis: 'y',
        scales: {
            y: {
            beginAtZero: true
            }
        }
        }
    });
</script>
  <!-- /page content -->
{% endblock content %}






